body{
    margin: 0px;
}
.fixed{
    width: 20%;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    position: fixed;
}
.head img{
    width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    background: url('../img/slide_2.jpg');
    position: relative;
}
.main_head ul a{
    text-decoration: none;
}
.main_head ul li{
    transition: 0.5s;
    margin: 30px 0px;
    font-size: 20px;
}
.main_head ul li:hover{
    transition: 0.5s;
    list-style: disc;
    margin-left: 20px;
}
.right{
    width: 35%;
    position: absolute;
    right: 100px;
    bottom: 100px;
    color: white;
}
main{
    width: 70%;
    margin-left: 25%;
}
.row img{
    width: 100%;
}
.sec2 div img{
    width: 100%;
    border: 10px solid gray;
    margin-bottom: 30px;
}
.btn-outline-primary{
    transition: 0.4s !important;
    border: none !important;
    font-size: 20px !important;
}
footer{
    width: 80%;
    margin-left: 20%;
    margin-top: 20px;
}
.foot_main{
    padding: 20px 50px;
    background-color: rgb(100, 100, 100);
}
.foot4{
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    padding: 10px 0px;
}
@media screen and (max-width:965px){
    .main_head ul li{
        margin: 20px 0px;
        font-size: 18px;
    }
    .main_head ul{
        margin-left: 18px !important;
    }
}
@media screen and (max-width:900px){
    .Featured{
        font-size: 25px;
    }
    .card-title{
        font-size: 18px !important;
    }
    .card-text{
        font-size: 12px !important;
    }
    .sec3 h1{
        font-size: 26px;
    }
    .sec3 p{
        font-size: 15px;
    }
}
@media screen and (max-width:745px){
    .fixed{
        display: none;
    }
    main{
        width: 100%;
        margin-left: 0px;
        padding: 0px 50px;
    }
    footer{
        width: 100%;
        margin-left: 0px;
    }
    .right{
        width: 50%;
        position: absolute;
        right: 100px;
        bottom: 100px;
        color: white;
    }
    .right h1{
        font-size: 24px;
    }
    .right p{
        font-size: 14px;
        font-weight: 100;
    }
}
@media screen and (max-width:575px){
    .sec1 img{
        width: 150px;
    }
    .row-ing div{
        width: 150px;
        margin: 0px auto;
    }
    .pictures div{
        width: 160px;
    }
    .footer div{
        width: 50%;
    }
}
@media screen and (max-width:550px){
    .sec1 img{
        width: 130px;
    }
    .row-ing div{
        width: 130px;
        margin: 0px auto;
    }
    .pictures div{
        width: 150px;
    }
    .footer div{
        width: 50%;
    }
    .Featured{
        font-size: 20px;
    }
    .card-title{
        font-size: 14px !important;
    }
    .card-text{
        font-size: 10px !important;
    }
    .sec3 h1{
        font-size: 22px;
    }
    .sec3 p{
        font-size: 12px;
    }
}
@media screen and (max-width:521px){
    main{
        padding: 0px 25px;
    }
    .pictures div{
        width: 140px;
        margin: 0px !important;
    }
    .pictures div img{
        margin: 8px !important;
    }
    .row-ing img{
        width: 100px;
    }
    .row-ing div{
        width: 100px;
        margin: 0px auto;
    }
    .card-title{
        font-size: 12px !important;
    }
    .card-text{
        font-size: 8px !important;
    }
}
@media screen and (max-width:489px){
    .pictures div{
        width: 135px;
    }
}
@media screen and (max-width:474px){
    .pictures div{
        width: 130px;
    }
}
@media screen and (max-width:459px){
    .pictures div{
        width: 125px;
    }
}
@media screen and (max-width:429px){
    .pictures div{
        width: 115px;
    }
}
@media screen and (max-width:414px){
    .pictures div{
        width: 110px;
    }
    .row-ing img{
        width: 80px;
    }
    .row-ing div{
        width: 80px;
        margin: 0px auto;
    }
    .card-title{
        font-size: 10px !important;
    }
    .card-text{
        font-size: 8px !important;
        margin: 5px 0px !important;
    }
}
@media screen and (max-width:400px){
    .pictures div{
        width: 100px;
    }
}